<p>user show page</p>
<p>Email: <%= @user.email %></p>
<p>Type: <%= @user.role %>
<button> <%= link_to "Delete User", users_path(@user), method: :delete, data: {confirm: 'Are your sure?'} %> </button>
